In [4]:
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st
import numpy as np
from scipy.stats import linregress

In [2]:
csv_path = "static/data/michigan-data.csv"
test_df = pd.read_csv(csv_path)
test_df.head(10)

,date,deathConfirmed,deathIncrease,hospitalizedCurrently,positive,positiveIncrease,recovered,totalTestResults,totalTestResultsIncrease
0,3/7/2021,15666.0,0,866.0,656072,0,549881.0,10621967.0,0
1,3/6/2021,15666.0,57,866.0,656072,1692,549881.0,10621967.0,37232
2,3/5/2021,15610.0,12,866.0,654380,1791,541258.0,10584735.0,46112
3,3/4/2021,15600.0,39,890.0,652589,1827,541258.0,10538623.0,46486
4,3/3/2021,15563.0,6,882.0,650762,1705,541258.0,10492137.0,36453
5,3/2/2021,15558.0,25,959.0,649057,1642,541258.0,10455684.0,19406
6,3/1/2021,15534.0,11,893.0,647415,1865,541258.0,10436278.0,48387
7,2/28/2021,15522.0,0,841.0,645550,0,541258.0,10387891.0,0
8,2/27/2021,15522.0,70,841.0,645550,1425,541258.0,10387891.0,36981
9,2/26/2021,15454.0,2,841.0,644125,1257,529080.0,10350910.0,41966

In [10]:
test_df.describe()

,deathConfirmed,deathIncrease,hospitalizedCurrently,positive,positiveIncrease,recovered,totalTestResults,totalTestResultsIncrease
count,370.000000,372.000000,333.000000,372.000000,372.000000,339.000000,3.630000e+02,372.000000
mean,7445.918919,44.779570,1601.495495,222667.403226,1763.596774,161681.053097,3.930972e+06,28553.674731
std,4178.515386,56.987726,1190.935283,218523.327068,2420.486970,167874.200932,3.470624e+06,26621.632764
min,0.000000,-4.000000,471.000000,14.000000,0.000000,56.000000,3.000000e+00,0.000000
25%,5659.000000,6.000000,661.000000,64030.500000,401.000000,50194.500000,7.629800e+05,7355.000000
50%,6522.500000,19.500000,959.000000,114855.000000,899.000000,90216.000000,2.995886e+06,23402.500000
75%,9805.750000,65.000000,2480.000000,421845.000000,1785.750000,236369.000000,7.089178e+06,42139.250000
max,15666.000000,288.000000,4326.000000,656072.000000,17368.000000,549881.000000,1.062197e+07,183614.000000

In [13]:
test_df.dtypes

date                         object
deathConfirmed              float64
deathIncrease                 int64
hospitalizedCurrently       float64
positive                      int64
positiveIncrease              int64
recovered                   float64
totalTestResults            float64
totalTestResultsIncrease      int64
dtype: object

In [14]:
formatted_df = test_df["date"].dt.strftime("%m/%d/%y")

AttributeError: Can only use .dt accessor with datetimelike values

In [8]:
test_df.sort_values(by=['date'], inplace=False)
test_df.head()

,date,deathConfirmed,deathIncrease,hospitalizedCurrently,positive,positiveIncrease,recovered,totalTestResults,totalTestResultsIncrease
65,1/1/2021,12333.0,0,2758.0,528621,0,318389.0,8202753.0,0
56,1/10/2021,13355.0,0,2480.0,562553,0,415079.0,8608748.0,0
55,1/11/2021,13401.0,47,2396.0,567682,5129,415079.0,8683220.0,74472
54,1/12/2021,13501.0,104,2443.0,570150,2468,415079.0,8718556.0,35336
53,1/13/2021,13533.0,40,2246.0,573278,3128,415079.0,8760017.0,41461