In [1]:

#imports
from sqlalchemy import create_engine
from datetime import timedelta, datetime, tzinfo
from zipfile import ZipFile
import collections
import pandas as pd

In [4]:
#read in csvs
states_df = pd.read_csv("all-states-history.csv")

national_df = pd.read_csv("national-history.csv")

In [5]:
states_df.head()

,date,state,death,deathConfirmed,deathIncrease,deathProbable,hospitalized,hospitalizedCumulative,hospitalizedCurrently,hospitalizedIncrease,...,totalTestResults,totalTestResultsIncrease,totalTestsAntibody,totalTestsAntigen,totalTestsPeopleAntibody,totalTestsPeopleAntigen,totalTestsPeopleViral,totalTestsPeopleViralIncrease,totalTestsViral,totalTestsViralIncrease
0,2021-03-07,AK,305.0,NaN,0,NaN,1293.0,1293.0,33.0,0,...,1731628.0,0,NaN,NaN,NaN,NaN,NaN,0,1731628.0,0
1,2021-03-07,AL,10148.0,7963.0,-1,2185.0,45976.0,45976.0,494.0,0,...,2323788.0,2347,NaN,NaN,119757.0,NaN,2323788.0,2347,NaN,0
2,2021-03-07,AR,5319.0,4308.0,22,1011.0,14926.0,14926.0,335.0,11,...,2736442.0,3380,NaN,NaN,NaN,481311.0,NaN,0,2736442.0,3380
3,2021-03-07,AS,0.0,NaN,0,NaN,NaN,NaN,NaN,0,...,2140.0,0,NaN,NaN,NaN,NaN,NaN,0,2140.0,0
4,2021-03-07,AZ,16328.0,14403.0,5,1925.0,57907.0,57907.0,963.0,44,...,7908105.0,45110,580569.0,NaN,444089.0,NaN,3842945.0,14856,7908105.0,45110

In [6]:
national_df.head()

,date,death,deathIncrease,inIcuCumulative,inIcuCurrently,hospitalizedIncrease,hospitalizedCurrently,hospitalizedCumulative,negative,negativeIncrease,onVentilatorCumulative,onVentilatorCurrently,positive,positiveIncrease,states,totalTestResults,totalTestResultsIncrease
0,3/7/21,515148.0,839,45475.0,8137.0,726,40212.0,878613.0,74582825.0,131835,4281.0,2801.0,28756184.0,41530,56,363824818,1169754
1,3/6/21,514309.0,1680,45453.0,8409.0,503,41401.0,877887.0,74450990.0,143835,4280.0,2811.0,28714654.0,60015,56,362655064,1430992
2,3/5/21,512629.0,2221,45373.0,8634.0,2781,42541.0,877384.0,74307155.0,271917,4275.0,2889.0,28654639.0,68787,56,361224072,1744417
3,3/4/21,510408.0,1743,45293.0,8970.0,1530,44172.0,874603.0,74035238.0,177957,4267.0,2973.0,28585852.0,65487,56,359479655,1590984
4,3/3/21,508665.0,2449,45214.0,9359.0,2172,45462.0,873073.0,73857281.0,267001,4260.0,3094.0,28520365.0,66836,56,357888671,1406795